<p id="notice"><%= notice %></p>

<p>
  <strong>Posy:</strong>
  <%= @comment.posy_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
